@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 140px;
    margin-top: 80px;
}

.subTitle {
    display: block;
    text-align: center;
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
    font-family: "Bebas Neue", sans-serif;
}

.rollContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: grid;
    place-items: center;
}

/* .rollContainer::after,
.rollContainer::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 2;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(1px);
}

.rollContainer::after {
    left: 0px;
}

.rollContainer::before {
    right: 0px;
    transform: rotateZ(180deg);
} */

.rollContainer.roll2 {
    margin-top: 20px;
}

.SlideContainer {
    display: flex;
    width: calc(350px * 16);
    animation: scroll 40s linear infinite;
}

.rollContainer.roll2 .SlideContainer {
    animation: scroll2 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-350px * 8));
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(calc(-350px * 8))
        
    }
    100% {
        transform: translateX(0);
    }
}

.card {
    position: relative;
    width: 350px;
    height: 300px;
    padding-right: 20px;
}

/* .card::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 20px);
    height: 80%;
    background: linear-gradient(#0044aa00,#0044aa8c );
    border-radius: 0px 0px 20px 20px;
} */

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.areaInformation {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 99;
}

.areaInformation h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.areaSpans {
    display: flex;
    gap: 4px;
}

.areaInformation span {
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    background-color: #ffffff29;
    backdrop-filter: blur(2px);
    color: #fff;
    width: fit-content;
}

@media (max-width: 900px) {
    .card {
        height: 200px;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 24px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-weight: 600;
        width: 90%;
    }

    .subTitle {
        font-size: 14px;
    }
}
