.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00a84b;
}

/* Stripe */
.stripe {
  height: 16px;
  width: 100%;
  background: rgb(3,93,185);
  background: linear-gradient(87deg, rgba(3,93,185,1) 0%, rgba(0,196,119,1) 100%);
}

/* Information Area */
.informationArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00a84b;
  max-width: 800px;
  width: 100%;
}

.logo {
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 20px;
  height: 100px;
}

.cnpj {
  position: fixed;
  right: 10px;
  height: 50vh;
  text-align: center;
  width: 20px;
  writing-mode: vertical-lr;
  top: 25%;
  z-index: 999;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

/* Banner Principal */
.bannerPrincipal {
  height: auto;
  max-width: 800px;
  width: 100%;
}

/* Area 2 */
.area2 {
  width: 100%;
  position: relative;
  background-image: url('/public/background.jpg');
  /* padding: 40px; */
}

.area2 .background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  z-index: 1;
}

.area2 h1 {
  position: relative;
  z-index: 2;
  color: #fff;
  /* text-transform: uppercase; */
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.area2 h1.urnaTitle {
  margin-top: 80px;
}

.area2 ul  {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0px 20px;
}

.area2 ul li {
  background-color: #00853c;
  border-radius: 20px;
  line-height: 140%;
  color: #fff;
  font-weight: 500;
  padding: 16px 20px;
}

.area2 ul li.type2 {
  background-color: #312c92;
}

.buttonJingle {
  display: flex;
  width: fit-content;
  background-color: #fff;
  border-radius: 80px;
  padding: 20px 40px;
  font-weight: 500;
  color: #00a84b;
  margin: 0 auto;
}

.urna {
  width: 100%;
  height: auto;
}
/* Area 3 */
.area3 {
  background-color: #00a84b;
  height: auto;
  width: 800px;
  padding-bottom: 0px;
}

@media (max-width: 800px) {
  .area2 h1 {
    font-size: 22px;
    padding: 0px 40px;
  }

  .area2 ul li {
    font-size: 14px;
  }

  .logo {
    height: 70px;
  }
}